*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

:root{
  --main-color:#ff702a;
  --text-color:#fff;
  --bg-color:#00e6f6,#;
  --big-font:5rem;
  --h2-font:2.25rem;
  --p-font:0.9rem;
}
*::selection{
  background: var(--main-color);
  color: #fff;

}
body{
  color: var(--text-color);
  background: var(--bg-color);

}
header{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 170px;
  background: var(--bg-color);
}
.logo{
  color: var(--main-color);
  font-weight: 600;
  font-size: 2.4rem; 
}
.navbar{
  display: flex;
}
.navbar a{
  color: var(--text-color);
  font-size: 1.1rem;
  padding: 10px 20px;
  font-weight: 500;

}
.navbar a:hover{
  color: var(--main-color);
  transition: 4s;
}
#menu-icon{
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
section{
  padding:70px 17%;

}
.home{
  width: 100%;
  min-height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  align-items: center;
}
.home-images images{
  max-width: 100%;
  width: 600px;
  height: auto;
}
.home-text h1{
  font-size: var(--big-font);
  color: var(--main-color);

}
.home-text h2{
  font-size: var(--h2-font);
  margin: 1rem 0 2rem;
}
.btn{
  display: inline-block;
  padding: 10px 20px;
  background: var(--main-color);
  color: #fff;
  border-radius: 0.5rem;
}
.btn:hover{
  transform: scale(1.2) translateY(10px);
  transition: .4s;
}
.about{
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 1.5rem;
  align-items: center;
}
.about-images images{
  max-width: 100%;
  width:480px;
  height: auto;
}
.about-text span{
  color:var(--main-color);
  font-weight: 600;
}
.about-text h2{
  font-size: var(--h2-font);
}
.about-text p{
  margin: 0.8rem 0 1.8rem;
  line-height: 1.7;

}
.hading{
  text-align: center;
}
.heading span{
  color: var(--main-color);
  font-weight: 600;

}
.heading h2{
  font-size: var(--h2-font);
}
 .menu-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(22px, auto));
   grid-gap: 1.5rem;
   align-items: center;
 }
 .box{
   position: relative;
   margin-top: 4rem;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background:rgba(133, 77, 133, 0.44);
   padding: 20px;
   border-radius: 0.5rem;
 }
 .box-images{
   width: 220px;
   height: 220px;
 }
 .box-images{
   width: 100%;
   height: 100%;
 }
 .box h2{
   font-size: 1.3rem;
   color: var(--bg-color);
 }
 .box h3{
   color: var(--bg-color);
   font-size: 1rem;
   font-weight: 400;
   margin: 4px 0 10px;
 }
 .box span{
   font-size: var(--p-font);
   color:var(--main-color);
   font-weight: 600;
 }
 .box .bx{
   background: var(--main-color);
   position: absolute;
   right: 0;
   top: 0;
   font-size: 20px;
   padding: 7px 10px;
   border-radius: 0 0.5rem 0 0.5rem;
 }
 .service-container{
   display:grid;
   grid-template-columns: repeat(auto-fit, minmax(240px, auto));
   grid-gap: 1.5rem;
   margin-top: 4rem;
 }
 .s-box{
   text-align: center;
   padding: 20px 30px;
 }
 .s-box images{
   width: 90px;
 }
 .s-box h3{
   margin: 4px 0 10px;
   color: var(--main-color);
   font-size: 1.2rem;
 }
 .s-box p{
   line-height: 1.7;
 }
 .cta{
   background: #feeee7;
   padding: 70px 0;
   text-align: center;
   width: 66%;
   margin: 100px auto;
   border-radius: 10px;
 }
 .cta h2{
   font-size: 2rem;
   color: var(--bg-color);
   margin-bottom: 30px;
 }
 .main{
   display: flex;
   flex-wrap: wrap;
 }
 .footer{
   padding:10px 0;
 }
 .col{
   width: 25%;
 }
.col h4{
  font-size: 1.2rem;
  color:var(--text-color);
  margin-bottom: 25px;
  position: relative;
}
.col h4::before{
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  left: 0;
  bottom: -8px;
  background: var(--main-color);

}
.col ul li:not(last-child){
  margin-bottom:15px;

}
.col ul li a{
  color:#9897a9;
  font-size:1.1rem;
  display:block;
  text-transform: capitalize;
  transition: .4s;
}
.col ul li a:hover{
  color: var(--text-color);
  transform: translateX(-12px);
}
.col .social{
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.col .social a{
  height:40px;
  width:40px;
  background: var(--main-color);
  color: var(--text-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  transition: .4s;
}
.col .social a:hover{
  transform: scale(1.2);
  color: var(--bg-color);
  background: var(--text-color);
}

@media (max-width: 990px){
  .home{
      height: 85vh;
  }
  .about{
      grid-template-columns: 1fr;
  }
  .about-img{
      text-align: center;
      margin-bottom: 30px;
  }
  .about-img img{
      max-width: 100%;
      width: 700px;
      height: auto;
  }
  .contact{
      grid-template-columns: 1fr;
  }
  .contact-form{
      order: 2;
  }
  .box img{
      max-width: 100%;
      width: 760px;
      height: auto;
  }
}

/*=======================================================MEDIAQUERIES FOR SMALL SCREENS==========================================================*/

@media only screen and (max-width: 480px) and (min-width: 320px) {
  header {
      padding: 18px 4%;
      transition: .2s;
  }
  header.sticky {
      padding: 10px 4%;
      transition: .3s;
  }
  section {
      padding: 80px 4%;
      transition: .2s;
  }
   :root {
      --big-font: 4.8rem;
      --h2-font: 3.8rem;
      --p-font: 1rem;
      transition: .2s;
  }

}

@media (max-width: 990px){
  .home {
      height: 85vh;
    }
  }

@media only screen and (max-width: 480px) and (min-width: 320px) {
  html,
  body {
      width: 140%;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
  }
    .navbar{
display: none;
}
  .home {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 2rem;
  }
  .home-text {
      margin: 3% 0% 0% 5%;
      font-size: 4rem;
      line-height: 1.2;
      padding: 0;
  }
  .home-img {
      margin: auto;
  }
  p {
      font-size: 1.6rem;
      width: 98%;
      margin-top: 5%;
      text-align: left;
  }
  
  .input-field {
      width: 180px;
      height: 40px;
      margin-top: 20px;
      padding: 25px;
      border-radius: 4px;
      font-size: 1.2rem;
  }
  button {
      border-radius: 4px;
      padding: 15px 20px;
      font-size: 1.2rem;
  }

  .about {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
      border: 1px solid transparent;
      padding-top: 5%;
  }
  .about-text {
      margin-top: 20px;
      padding-top: 15px;
  }
  .about-text p {
      font-size: 1.65rem;
      padding: 4px;
  }
 .about-text h2{
  font-size: 2.8em;
 }
 .about-text h5{
  font-size: 2.8em;
 }
.services {
      min-height: 100vh;
      height: 100%;
      width: 100;
      position: relative;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      align-items: center;
      margin-left: 5%;
  }
  .services h1 {
      font-size: 2.5em;
  }
  .services p {
      font-size: 1.7rem;
      line-height: 1.8;
  }
  .services-content h3{
      font-size: 2.8em;
  }
  .services-content p{
      font-size: 2.8em;
  }


  .services-content .row {
      margin: auto;
      padding: 0 1rem;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      align-items: center;
  }
  .services-content .row h3 {
      font-size: 2.2rem;
      margin-bottom: .5rem;
  }
  .services-content .row p {
      font-size: 2.2rem;
      margin-bottom: .5rem;
  }

  .projects {
      text-align: center;
      margin-left: 5%;
      line-height: 1.6;
  }
  .projects p{
      font-size: 2.8em;
  }
  .projects h2{
      font-size: 2.8em;
  }



  .projects h2::before {
      content: attr(data-title);
      display: block;
      font-size: 1.7rem;
      text-align: center;
      color: grey;
      font-family: 'Poppins', sans-serif;
      padding-bottom: 4px;
      font-weight: 700;
  }
  .projects img {
      width: 700px;
      margin-left: -2%;
  }
  .projects-content h5{
      font-size: 2.8em;
  }
  .projects-content p{
      font-size: 2.8em;
  }

  .footer {
      width: 100%;
      height: 50vh;
  }
}


/*=======================================================MEDIAQUERIES FOR MEDIUM SCREENS==========================================================*/

@media only screen and (max-width: 768px) and (min-width: 481px) {
  html,
  body {
      width: 100%;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
  }
  .home {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 0rem;
      min-height: 65vh;
  }
  .home-text {
    line-height:2rem;
    word-spacing: 1px;
  }
  section {
      padding: 0;
  }
  p {
      font-size: 1.7rem;
      width: 98%;
      margin-top: 5%;
      text-align: left;
  }
  .home-img {
      margin: auto;
      margin-top: -50%;
      margin-bottom: -20%;
      padding: 0;
  }
  .input-field {
      width: 240px;
      height: 40px;
      margin-top: 20px;
      padding: 30px;
      border-radius: 4px;
      font-size: 1.6rem;
  }
  button {
      border-radius: 4px;
      padding: 15px 20px;
      font-size: 1.6rem;
    }
  .about {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    border: 1px solid transparent;
    padding-top: 5%;
    align-items: center;
  }
  .about-text {
      margin-top: 20px;
      padding-top: 65px;
  }
  .about-text p {
      font-size: 2rem;
      padding: 4px;
  }
  .about-text h2 {
      font-size: 2rem;
      padding: 20px;
    }
  .about-img{
      position: absolute;
      width: 200px;
      height: 200px;
      margin-top: 90rem;
      border-radius: 80%;
  }
  
  /*services SECTION */
  .services {
      min-height: 100vh;
      height: 100%;
      width: 100;
      position: relative;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      align-items: center;
      margin-left: 5%;
  }
  .services h2{
      font-size: 3rem;
      padding: 4px;
  }
  .services p{
      font-size: 3rem;
      padding: 4px;
  }

  .services-content h3{
      font-size: 3rem;

  }
  .services-content p{
      font-size: 1rem;
      line-height: 1;
      font-family: 'Courier New', Courier, monospace;
  }
  
  
 .col {
  width: 50%;
  height: 80vh;
     
    
     
  }
}


/*=======================================================MEDIAQUERIES FOR LARGER SCREENS==========================================================*/

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  html,
  body {
      width: 100%;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
  }
  p {
      font-size: 2rem;
      width: 98%;
      margin-top: 5%;
      text-align: left;
  }
  .home-img {
      margin: auto;
      margin-top: -50%;
      margin-bottom: -30%;
      padding: 0;
  }
  .home-img img {
      width: 800px;
  }
  button {
      border-radius: 4px;
      padding: 15px 20px;
      font-size: 1.6rem;
  }
}
  /*SECTION ONE QUERIES FOR SMALLER SCREEN */
  .home{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 1rem;
  }
  .box-images{
    margin: 50%;
    width: 95px;
  }
  .heading h2{
    font-family:sans-serif;
    font-weight: 100;
    text-align: center;
  }
 
  .home-text h2{
    font-family: sans-serif;
    font-weight: 400;
  }
  .home-text p {
      font-size: 2.4rem;
  }
  .home-text h2{
      font-size: 1rem;
  }
  .home-text h1 {
      font-size: 2rem;
  }
  .home-text h3{
      font-size: 1.5rem;
  }
  .home-text form{
      font-size: 2.2rem;
  }
  .about-text h5{
      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-weight: 100;
      text-align: center;
  }
  .about-text h2{
      font-family:sans-serif;
      font-weight: 100;
      text-align: center;
  }
  .about-text p{
      font-family: sans-serif;
      font-weight: 100;
      text-align: center;
  }

  /*SECTION B QUERIES FOR SMALLER SCREEN */
  .services {
      display: grid;  
      grid-gap: 10px;
      border: 1px solid transparent;
      padding-top: 2%;
  }
  .services-content h3{
      font-size: 1rem;
  }
  .services p{
      font-size:25px;
      padding: 20px;
      text-align: center;
  }
.services-content .progress-bar{
 flex-wrap: nowrap;
 
}

  /*contact section*/
  .contact {
      min-height: 100vh;
      height: 100%;
      width: 100;
      position: relative;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      align-items: center;
      margin-left: 5%;
    
  }
  .contact-form h2 {
      font-size: 3rem;
      width: 95%;
      font-family: sans-serif;
      text-align: center;
      font-weight: 100;
  }
  .contact-form p {
      font-size: 2.3rem;
      line-height: 1.8;
      font-family: sans-serif;
      text-align: center;
      font-weight: 100;
  }
  .contact img {
      width: 960px;
      margin-left: -2%;
  }
  .input-field {
      width: 240px;
      height: 40px;
      margin-top: 20px;
      padding: 30px;
      border-radius: 4px;
      font-size: 1.6rem;
      font-family: sans-serif;
  }
.center p,h2{
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
}
.logo{
  font-weight: 100;
}
  
  
  .footer {
      width: 100%;
      height: 20vh;
  }

@media (max-width: 1270px){
  header {
      padding: 18px 4%;
      transition: .2s;
  }
  header.sticky {
      padding: 10px 4%;
      transition: .2s;
  }
  section {
      padding: 80px 4%;
      transition: .2s;
  }
   :root {
      --big-font: 4.8rem;
      --h2-font: 3.8rem;
      --p-font: 1rem;
      transition: .2s;
  }

}
