*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin sans', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3.5rem;
}
:root{
   --bg-color:#101010;
   --second-bg-color:#191919;
   --text-color:#fff;
   --second-color:#c6c9d8bf;
   --main-color:#f9004d;
   --big-font:5.3rem;
   --h2-font:4.2rem;
   --p-font:1.1rem;

}
body{
    background: var(--bg-color) ;
    color: var(--tex-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 25px 15%;
    transition-duration: .3s;
}
.logo{
    color: var(--text-color);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}
.navbar{
    display: flex;
}
.navbar li{
    position: relative;
}
.navbar a{
    color: var(--text-color);
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 20px;
}
.navbar a::after{
    content:"";
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--main-color);
    left: 0;
    bottom: -4px;
    transition: ease .40s;
}
.navbar a:hover::after{
    width: 100%;
}
#menu-icon{
    font-size: 32px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.h-btn{
    padding: 0 20px;
    height: 40px;
    display: inline-block;
    line-height: 42px;
    background: var(--main-color);
    color: var(--text-color);
    border: none;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all .30s;
}
.h-btn:hover{
    transform: translateY(-5px);
}
section{
    padding: 120px 15%;
}
.home{
    height: 100vh;
    width: 100%;
    background: url(images/FotoJet-removebg-preview\ \(3\).png);
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    color: white;
}
.home-text h1{
    margin: 20px 0px 20px;
    font-size: var(--big-font);

}
span{
    color: var(--main-color);
}
.home-text h3{
    font-size: 25px;
    margin-bottom: 55px;
}
.home-text h4{
    color:#585c63;
    font-size: 20px;
    letter-spacing: 2px;
}
.newsletter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    outline:none;
    padding: 16px 140px 16px 15px;
    border: 2px solid var(--main-color);
    border-radius: 30px;
}
.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    background: var(--main-color);
    color: var(--text-color);
    padding: 12px 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 6px #000, 0px 0px 14px #868686;
    cursor: pointer;
    top: 6px;
    right: 6px;
}
header.sticky{
    padding: 12px 15%;
    background: var(--main-color);
}
.sticky .navbar a::after{
    background: var(--text-color);
}
.sticky .h-btn{
    background: var(--text-color);
    color: #000;

}
.about{
    background: var(--second-bg-color);
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap:2rem;
    color: white;
}
.about-img img{
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 10px;
}
.about-text h2{
    font-size: var(--h2-font);
    margin-bottom: 20px;

}
.about-text h5{
    font-size: 28px;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
.about-text p{
    color: var(--second-color);
    letter-spacing: 1px;
    line-height: 28px;
    max-width: 590px;
    font-size: var(--p-font);
    margin-bottom: 45px;
}
.btn{
    display: inline-block;
    background: var(--main-color);
    color: var(--text-color);
    border: 2px solid transparent;
    font-weight: 600;
    padding: 13px 30px;
    border-radius: 35px;
    transition: ease .35s;
}
.btn:hover{
    transform: translateY(-8px);
    border: 2px solid var(--main-color);
    background: transparent;
}
.services{
    background:var(--bg-color);
}
.center{
    text-align:center;
    color: white;
}
.center h2{
    font-size: var(--h2-font);
    margin-bottom: 15px;
}
.center p{
    color: var(--second-color);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: var(--p-font);
}
.services-content{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(370px,auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4.5rem;
}
.row{
    background: var(--second-bg-color);
    padding: 55px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .35s;
}
.row i{
    color: var(--main-color);
    margin-bottom: 20px;
    font-size: 2.7rem;
}
.row h3{
    color:var(--text-color);
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
}
.row p{
    color: var(--second-color);
    line-height: 30px;
    font-size: var(--p-font);
}
.row:hover{
    transform: translateY(-8px);
}
.projects-content{
    background:var(--second-bg-color);
}
.projects-content{
    background: var(--second-bg-color);
    color: white; 
}
.projects-content{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(370px,auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4.5rem;
    cursor: pointer;
}
.box img{
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all .30s;
}
.box p{
    color: var(--second-color);
    font-size: var(--p-font);
    margin-bottom: 15px;
}
.small{
    font-size:smaller;
    font-weight: 200;
}
.box h5{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}
.box img:hover{
    transform: scale(1.1);
}
.contact{
    background:var(--bg-color);
    color:white;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 3rem;
}
.contact-img img{
    max-width: 100%;
    width: 700px;
    height: auto;
    border-radius: 10px;
}
.contact-form h2{
    font-size: var(--h2-font);
    margin-bottom: 15px;
}
.contact-form p{
    color: var(--second-color);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: var(--p-font);
    margin-bottom: 4.1rem;
}
.contact-form form{
    position: relative;
}
.contact-form form input,
form textarea{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: var(--second-bg-color);
    color: var(--text-color);
    font-size: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;

}

.contact-form textarea{
    resize:none;
    height: 200px;

}
.contact-form form .send{
    display: inline-block;
    background: var(--main-color);
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    width: 200px;
    transition: ease .35s;
    text-transform: uppercase;
}
.contact-form form .send:hover{
    transform: translateY(-8px);
    cursor: pointer;
}
.footer{
    text-align: center;
    background: var(--second-bg-color);
    padding: 34px;
    color: white;
}
.footer p{
    font-size: 17px;
    color: var(--second-color);
    letter-spacing: 1px;
    text-align: center;
}
progress{
    height: 5px;
    border-radius: 20px;
    width:80%;
}
progress::-webkit-progress-value {
    background-color: var(--main-color);
    
    
}
progress::-webkit-progress-bar {
    background-color: whitesmoke;
   
}



@media (max-width: 1720px){
    header{
        padding:18px 4%;
        transition: .2s;
    }
    header.sticky{
        padding: 10px 4%;
        transition: .2s;
    }
    section{
        padding: 80px 4%;
        transition: .2s;
    }
     :root{
        --big-font:4.8rem;
        --h2-font:3.8rem;
        --p-font:1rem;
        transition: .2s;
     }
}

@media (max-width: 990px){
html,
    body {
        width: 140%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
      .navbar{
  display: none;
 }
    .home {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
    }
    .home-text {
        font-size: 1.5rem;
        line-height: 1.2;
        padding: 0;
    }
    .home-img {
        margin: auto;
    }
    p {
        font-size: 1.6rem;
        width: 98%;
        margin-top: 5%;
        text-align: left;
    }
    
    .input-field {
        width: 100px;
        height: 20px;
        margin-top: 20px;
        padding: 15px;
        border-radius: 4px;
        font-size: 1.2rem;
    }
    button {
        border-radius: 4px;
        padding: 15px 20px;
        font-size: 1.2rem;
    }

    .about {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        border: 1px solid transparent;
        padding-top: 5%;
    }
    .about-text {
        margin-top: 20px;
        padding-top: 15px;
    }
    .about-text p {
        font-size: 1.65rem;
        padding: 4px;
    }
   .about-text h2{
    font-size: 2.8em;
   }
   .about-text h5{
    font-size: 2.8em;
   }
. about-img{ 
width: 700px;
        margin-left: -3%;
}
.services {
        min-height: 100vh;
        height: 100%;
        width: 100;
        position: relative;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        margin-left: 5%;
    }
    .services h1 {
        font-size: 2.5em;
    }
    .services p {
        font-size: 1.7rem;
        line-height: 1.8;
    }
    .services-content h3{
        font-size: 2.8em;
    }
    .services-content p{
        font-size: 2.8em;
    }


    .services-content .row {
        margin: auto;
        padding: 0 1rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
    .services-content .row h3 {
        font-size: 2.2rem;
        margin-bottom: .5rem;
    }
    .services-content .row p {
        font-size: 2.2rem;
        margin-bottom: .5rem;
    }
  
    .projects {
        text-align: center;
        margin-left: 5%;
        line-height: 1.6;
    }
    .projects p{
        font-size: 2.8em;
    }
    .projects h2{
        font-size: 2.8em;
    }



    .projects h2::before {
        content: attr(data-title);
        display: block;
        font-size: 1.7rem;
        text-align: center;
        color: grey;
        font-family: 'Poppins', sans-serif;
        padding-bottom: 4px;
        font-weight: 700;
    }
    .projects img {
        width: 700px;
        margin-left: -3%;
    }
    .projects-content h5{
        font-size: 2.8em;
    }
    .projects-content p{
        font-size: 2.8em;
    }

    .footer {
        width: 100%;
        height: 50vh;
    }
  }
  
  
  /*=======================================================MEDIAQUERIES FOR MEDIUM SCREENS==========================================================*/
  
  @media only screen and (max-width: 668px) and (min-width: 320px) {
    html,
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .home {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0rem;
        min-height: 65vh;
    }
    .home-text {
        margin: -25% 0% 0% 5%;
        font-size: 5rem;
        line-height: 1.2;
        word-spacing: 1px;
    }
    section {
        padding: 0;
    }
    p {
        font-size: 1.7rem;
        width: 98%;
        margin-top: 5%;
        text-align: left;
    }
    .home-img {
        margin: auto;
        margin-top: -50%;
        margin-bottom: -20%;
        padding: 0;
    }
    .input-field {
    .about{
        grid-template-columns: 1fr;
    }
    .about-img{
        text-align: center;
        margin-bottom: 30px;
    }
    .about-img img{
        max-width: 100%;
        width: 700px;
        height: auto;
    }
    .contact{
        grid-template-columns: 1fr;
    }
    .contact-form{
        order: 2;
    }
    .box img{
        max-width: 100%;
        width: 760px;
        height: auto;
    }
}

/*=======================================================MEDIAQUERIES FOR SMALL SCREENS==========================================================*/

@media only screen and (max-width:480px) and (min-width: 360px) {
    header {
        padding: 18px 4%;
        transition: .2s;
    }
    header.sticky {
        padding: 10px 4%;
        transition: .3s;
    }
    section {
        padding: 80px 4%;
        transition: .2s;
    }
   :root {
        --big-font: 4.8rem;
        --h2-font: 3.8rem;
        --p-font: 1rem;
        transition: .2s;
    }
  
  }
  
  @media (max-width: 380px){
    .home {
        height: 85vh;
      }
    }
  
  @media only screen and (max-width: 360px) and (min-width: 990px) {
    html,
    body {
        width: 140%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
      .navbar{
  display: none;
 }
    .home {
    display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        border: 1px solid transparent;
        padding-top: 5%;
    }
    .home-text {
        margin-top: 20px;
        padding-top: 15px;
    }
    .home-text p {
        font-size: 1.5rem;
        padding: 2px;
    }
   .about-text h2{
    font-size: 2.5em;
   }
   .about-text h1{
    font-size: 2.5em;
   }
    .home-img {
     margin: auto;
        margin-top: -50%;
        margin-bottom: -20%;
        padding: 0;
    }
    p {
        font-size: 1.6rem;
        width: 98%;
        margin-top: 5%;
        text-align: left;
    }
    
    .input-field {
        width: 180px;
        height: 40px;
        margin-top: 20px;
        padding: 25px;
        border-radius: 4px;
        font-size: 1.2rem;
    }
    button {
        border-radius: 4px;
        padding: 15px 20px;
        font-size: 1.2rem;
    }

    .about {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        border: 1px solid transparent;
        padding-top: 5%;
    }
    .about-text {
        margin-top: 20px;
        padding-top: 15px;
    }
    .about-text p {
        font-size: 1.5rem;
        padding: 2px;
    }
   .about-text h2{
    font-size: 2.5em;
   }
   .about-text h5{
    font-size: 2.5em;
   }
.services {
        min-height: 100vh;
        height: 100%;
        width: 100;
        position: relative;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        margin-left: 5%;
    }
    .services h1 {
        font-size: 2.5em;
    }
    .services p {
        font-size: 1.7rem;
        line-height: 1.8;
    }
    .services-content h3{
        font-size: 2.8em;
    }
    .services-content p{
        font-size: 2.8em;
    }


    .services-content .row {
        margin: auto;
        padding: 0 1rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
    .services-content .row h3 {
        font-size: 2.2rem;
        margin-bottom: .5rem;
    }
    .services-content .row p {
        font-size: 2.2rem;
        margin-bottom: .5rem;
    }
  
    .projects {
        text-align: center;
        margin-left: 5%;
        line-height: 1.6;
    }
    .projects p{
        font-size: 2.8em;
    }
    .projects h2{
        font-size: 2.8em;
    }



    .projects h2::before {
        content: attr(data-title);
        display: block;
        font-size: 1.7rem;
        text-align: center;
        color: grey;
        font-family: 'Poppins', sans-serif;
        padding-bottom: 4px;
        font-weight: 700;
    }
    .projects img {
        width: 700px;
        margin-left: -2%;
    }
    .projects-content h5{
        font-size: 2.8em;
    }
    .projects-content p{
        font-size: 2.8em;
    }

    .footer {
        width: 100%;
        height: 50vh;
    }
  }
  
  
  /*=======================================================MEDIAQUERIES FOR MEDIUM SCREENS==========================================================*/
  
  @media only screen and (max-width: 668px) and (min-width: 320px) {
    html,
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .home {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0rem;
        min-height: 65vh;
    }
    .home-text {
        margin: -25% 0% 0% 5%;
        font-size: 5rem;
        line-height: 1.2;
        word-spacing: 1px;
    }
    section {
        padding: 0;
    }
    p {
        font-size: 1.7rem;
        width: 98%;
        margin-top: 5%;
        text-align: left;
    }
    .home-img {
        margin: auto;
        margin-top: -50%;
        margin-bottom: -20%;
        padding: 0;
    }
    .input-field {
        width: 240px;
        height: 40px;
        margin-top: 20px;
        padding: 30px;
        border-radius: 4px;
        font-size: 1.6rem;
    }
    button {
        border-radius: 4px;
        padding: 15px 20px;
        font-size: 1.6rem;
      }
    .about {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        border: 1px solid transparent;
        padding-top: 5%;
    }
    .about-content {
        margin-top: 20px;
        padding-top: 15px;
    }
    .about-content p {
        font-size: 2.2rem;
        padding: 4px;
    }
    .about-content h2 {
        font-size: 3rem;
        padding: 4px;
    }
    .about-content h5{
        font-size: 3rem;
        padding: 4px;
    }
    .about-img{
        position: absolute;
        width: 200px;
        height: 200px;
        margin-top: 90rem;
        border-radius: 80%;
    }
    
    /*services SECTION */
    .services {
        min-height: 100vh;
        height: 100%;
        width: 100;
        position: relative;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        margin-left: 5%;
    }
    .services h2{
        font-size: 3rem;
        padding: 4px;
    }
    .services p{
        font-size: 3rem;
        padding: 4px;
    }

    .services-content h3{
        font-size: 3rem;
        width: 95%;
    }
    .services-content p{
        font-size: 2.3rem;
        line-height: 1.8;
    }
    
    
    .footer {
        width: 100%;
        height: 29vh;
    }
  }
  
  
  /*=======================================================MEDIAQUERIES FOR LARGER SCREENS==========================================================*/
  
  @media only screen and (max-width: 1024px) and (min-width: 769px) {
    html,
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .home {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0rem;
        min-height: 90vh;
    }
    .home-text {
        margin: -20% 0% 0% 5%;
        font-size: 5.2rem;
        line-height: 1.2;
        word-spacing: 1px;
        width: 95%;
    }
    section {
        padding: 0;
    }
    p {
        font-size: 2rem;
        width: 98%;
        margin-top: 5%;
        text-align: left;
    }
    .home-img {
        margin: auto;
        margin-top: -50%;
        margin-bottom: -30%;
        padding: 0;
    }
    .home-img img {
        width: 800px;
    }
    button {
        border-radius: 4px;
        padding: 15px 20px;
        font-size: 1.6rem;
    }
}
    /*SECTION ONE QUERIES FOR SMALLER SCREEN */
    .home {
        position: relative;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        grid-gap: 2rem;
    }
    .home-text p {
        font-size: 2.4rem;
    }
    .home-text h1 {
        font-size: 2.2rem;
    }
    .home-text h4 {
        font-size: 2rem;
    }
    .home-text h3{
        font-size: 1.5rem;
    }
    .home-text form{
        font-size: 2.2rem;
    }
    .about-text h5{
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: 100;
        text-align: center;
    }
    .about-text h2{
        font-family:sans-serif;
        font-weight: 100;
        text-align: center;
    }
    .about-text p{
        font-family: sans-serif;
        font-weight: 100;
        text-align: center;
    }

    /*SECTION B QUERIES FOR SMALLER SCREEN */
    .services {
        display: grid;  
        grid-gap: 10px;
        border: 1px solid transparent;
        padding-top: 2%;
    }
    .services-content h3{
        font-size: 1rem;
    }
    .services p{
        font-size:25px;
        padding: 20px;
        text-align: center;
    }
.services-content .progress-bar{
   flex-wrap: nowrap;
   
}

    /*contact section*/
    .contact {
        min-height: 100vh;
        height: 100%;
        width: 100;
        position: relative;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        margin-left: 5%;
      
    }
    .contact-form h2 {
        font-size: 3rem;
        width: 95%;
        font-family: sans-serif;
        text-align: center;
        font-weight: 100;
    }
    .contact-form p {
        font-size: 2.3rem;
        line-height: 1.8;
        font-family: sans-serif;
        text-align: center;
        font-weight: 100;
    }
    .contact img {
        width: 960px;
        margin-left: -2%;
    }
    .input-field {
        width: 240px;
        height: 40px;
        margin-top: 20px;
        padding: 30px;
        border-radius: 4px;
        font-size: 1.6rem;
        font-family: sans-serif;
    }
.center p,h2{
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
}
.logo{
    font-weight: 100;
}
    
    
    .footer {
        width: 100%;
        height: 20vh;
    }
  
  @media (max-width: 320px){
    header {
        padding: 18px 4%;
        transition: .2s;
    }
    header.sticky {
        padding: 10px 4%;
        transition: .2s;
    }
    section {
        padding: 80px 4%;
        transition: .2s;
    }
     :root {
        --big-font: 4.8rem;
        --h2-font: 3.8rem;
        --p-font: 1rem;
        transition: .2s;
    }


  }
